<div id="city-view">
	<div id="city-map">
		<a id="plot1" class="house" onclick="buildslot(this, event); return false;" style="margin-top: 0px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
		<a id="plot2" class="city-plot" onclick="buildslot(this, event); return false;" style="margin-top: 0px;">&nbsp;</a>
		<a id="plot3" class="city-plot" onclick="buildslot(this, event); return false;" style="margin-top: 0px;">&nbsp;</a>
		<a id="plot4" class="city-plot" onclick="buildslot(this, event); return false;" style="margin-top: 0px;">&nbsp;</a>
		<a id="plot5" class="city-plot" onclick="buildslot(this, event); return false;" style="margin-top: 0px;">&nbsp;</a>
		<a id="plot6" class="city-plot" onclick="buildslot(this, event); return false;" style="margin-top: 0px;">&nbsp;</a>
		<a id="plot7" class="city-plot" onclick="buildslot(this, event); return false;" style="margin-top: 0px;">&nbsp;</a>
		<a id="plot8" class="city-plot" onclick="buildslot(this, event); return false;" style="margin-top: 0px;">&nbsp;</a>
		<a id="plot9" class="city-plot" onclick="buildslot(this, event); return false;" style="margin-top: 0px;">&nbsp;</a>
		<a id="plot10" class="city-plot" onclick="buildslot(this, event); return false;" style="margin-top: 0px;">&nbsp;</a>
		<a id="plot11" class="city-plot" onclick="buildslot(this, event); return false;" style="margin-top: 0px;">&nbsp;</a>
		<a id="plot12" class="city-plot" onclick="buildslot(this, event); return false;" style="margin-top: 0px;">&nbsp;</a>
		<a id="plot13" class="city-plot" onclick="buildslot(this, event); return false;" style="margin-top: 0px;">&nbsp;</a>
		<a id="plot14" class="city-plot" onclick="buildslot(this, event); return false;" style="margin-top: 0px;">&nbsp;</a>
		<a id="plot15" class="city-plot" onclick="buildslot(this, event); return false;" style="margin-top: 0px;">&nbsp;</a>
		<a id="plot16" class="city-plot" onclick="buildslot(this, event); return false;" style="margin-top: 0px;">&nbsp;</a>
		<a id="plot17" class="city-plot" onclick="buildslot(this, event); return false;" style="margin-top: 0px;">&nbsp;</a>
		<a id="plot18" class="city-plot" onclick="buildslot(this, event); return false;" style="margin-top: 0px;">&nbsp;</a>
		<a id="plot19" class="city-plot" onclick="buildslot(this, event); return false;" style="margin-top: 0px;">&nbsp;</a>
		<a id="plot20" class="city-plot" onclick="buildslot(this, event); return false;" style="margin-top: 0px;">&nbsp;</a>
		<a id="plot21" class="city-plot" onclick="buildslot(this, event); return false;" style="margin-top: 0px;">&nbsp;</a>
		<a id="plot22" class="city-plot" onclick="buildslot(this, event); return false;" style="margin-top: 0px;">&nbsp;</a>
		<a id="plot23" class="city-plot" onclick="buildslot(this, event); return false;" style="margin-top: 0px;">&nbsp;</a>
		<a id="plot24" class="city-plot" onclick="buildslot(this, event); return false;" style="margin-top: 0px;">&nbsp;</a>
		<a id="plot25" class="city-plot" onclick="buildslot(this, event); return false;" style="margin-top: 0px;">&nbsp;</a>
		<a id="plot26" class="city-plot" onclick="buildslot(this, event); return false;" style="margin-top: 0px;">&nbsp;</a>
		<a id="plot27" class="city-plot" onclick="buildslot(this, event); return false;" style="margin-top: 0px;">&nbsp;</a>
		<a id="plot28" class="city-plot" onclick="buildslot(this, event); return false;" style="margin-top: 0px;">&nbsp;</a>
		<a id="plot29" class="city-plot" onclick="buildslot(this, event); return false;" style="margin-top: 0px;">&nbsp;</a>
		<a id="plot-castle" class="castle" onclick="buildslot(this, event); return false;" style="margin-top: 0px;">&nbsp;</a>
		<a id="plot-towncenter" onclick="buildslot(this, event); return false;" style="margin-top: 0px;">&nbsp;</a>
		<a id="plot-wall" onclick="buildslot(this, event); return false;" style="margin-top: 0px;">&nbsp;</a>
	</div>
<!-- 
<img src="/images/game/terrain/city-bg.png" usemap="#image-map">

<map name="image-map">
    <area target="" alt="plot1" title="plot1" href="javascript" coords="126,267,174,242,221,266,174,288,147,277" shape="poly">
    <area target="" alt="plot2" title="plot2" href="javascript" coords="192,233,236,209,283,236,236,258" shape="poly">
    <area target="" alt="plot3" title="plot3" href="javascript" coords="254,198,300,172,347,197,298,221" shape="poly">
    <area target="" alt="plot4" title="plot4" href="javascript" coords="171,302,220,278,264,302,217,326" shape="poly">
    <area target="" alt="plot5" title="plot5" href="javascript" coords="237,270,283,247,329,271,282,296" shape="poly">
    <area target="" alt="plot6" title="plot6" href="javascript" coords="295,239,338,215,382,240,339,263" shape="poly">
    <area target="" alt="plot7" title="plot7" href="javascript" coords="220,357,269,331,317,358,268,379" shape="poly">
    <area target="" alt="plot8" title="plot8" href="javascript" coords="280,311,327,288,373,311,327,337" shape="poly">
    <area target="" alt="plot9" title="plot9" href="javascript" coords="357,274,397,248,449,275,402,295,379,285" shape="poly">
    <area target="" alt="plot10" title="plot10" href="javascript" coords="299,399,343,373,390,399,344,425" shape="poly">
    <area target="" alt="plot11" title="plot11" href="javascript" coords="330,353,376,332,423,354,375,378" shape="poly">
    <area target="" alt="plot12" title="plot12" href="javascript" coords="388,322,435,298,481,323,435,347" shape="poly">
    <area target="" alt="plot13" title="plot13" href="javascript" coords="349,426,397,404,448,429,399,452" shape="poly">
    <area target="" alt="plot14" title="plot14" href="javascript" coords="413,397,458,373,506,398,460,421" shape="poly">
    <area target="" alt="plot15" title="plot15" href="javascript" coords="451,363,501,336,547,360,504,385" shape="poly">
    <area target="" alt="plot16" title="plot16" href="javascsript" coords="515,330,560,306,606,330,561,354" shape="poly">
    <area target="" alt="plot17" title="plot17" href="javacsript" coords="424,108,469,84,513,108,469,130" shape="poly">
    <area target="" alt="plot18" title="plot18" href="javascript" coords="477,82,525,57,572,80,525,104" shape="poly">
    <area target="" alt="plot19" title="plot19" href="javascript" coords="492,155,538,133,585,157,535,181" shape="poly">
    <area target="" alt="plot20" title="plot20" href="javascript" coords="543,121,590,99,638,122,589,145" shape="poly">
    <area target="" alt="plot21" title="plot21" href="javascript" coords="518,219,566,194,610,220,565,243" shape="poly">
    <area target="" alt="plot22" title="plot22" href="javascript" coords="576,187,622,164,667,189,622,212" shape="poly">
    <area target="" alt="plot23" title="plot23" href="javascript" coords="634,159,677,134,724,159,678,182" shape="poly">
    <area target="" alt="plot24" title="plot24" href="javascript" coords="574,254,620,232,666,256,620,279" shape="poly">
    <area target="" alt="plot25" title="plot25" href="javascript" coords="631,227,679,202,725,230,677,250" shape="poly">
    <area target="" alt="plot26" title="plot26" href="javascript" coords="689,197,735,176,782,198,734,223" shape="poly">
    <area target="" alt="plot27" title="plot27" href="javascript" coords="625,291,673,268,723,291,674,315" shape="poly">
    <area target="" alt="plot28" title="plot28" href="javascript" coords="684,256,731,234,777,259,731,281" shape="poly">
    <area target="" alt="plot29" title="plot29" href="javascript" coords="749,228,795,204,841,229,797,253" shape="poly">
    <area target="" alt="castle" title="castle" href="javascript" coords="401,111,482,150,410,187,332,147" shape="poly">
    <area target="" alt="towncenter" title="towncenter" href="javascript" coords="398,245,471,208,549,246,471,281" shape="poly">
    <area target="" alt="wall1" title="wall1" href="javascript" coords="397,481,899,231,869,214,369,470" shape="poly">
    <area target="" alt="wall2" title="wall2" href="javascript" coords="474,12,868,213,841,225,456,19" shape="poly">
    <area target="" alt="wall3" title="wall3" href="javascript" coords="455,17,12,282,32,294,474,30" shape="poly">
    <area target="" alt="wall4" title="wall4" href="javascript" coords="36,294,367,468,392,452,64,277" shape="poly">
</map>
-->
</div>