<div class="row justify-content-between" id="gameHead">
  <div class="col-3 text-center">
    <img src="{{avatar}}" width=32 height=50><br>
    {{name}}<br>
    Power: <span id="power">{{power}}</span>
  </div>
  <div class="col">
    <div class="row">
      <div class="col-2">
        <img src="/images/game/resources/food.png" height=16 width=16>&nbsp;<span id="food">{{food}}</span>
      </div>
      <div class="col-2">
        <img src="/images/game/resources/wood.png" height=16 width=16>&nbsp;<span id="wood">{{wood}}</span>
      </div>
      <div class="col-2">
        <img src="/images/game/resources/stone.png" height=16 width=16>&nbsp;<span id="stone">{{stone}}</span>
      </div>
      <div class="col-2">
        <img src="/images/game/resources/ore.png" height=16 width=16>&nbsp;<span id="ore">{{ore}}</span>
      </div>
      <div class="col-2">
        <img src="/images/game/resources/gold.png" height=16 width=16>&nbsp;<span id="gold">{{gold}}</span>
      </div>
      <div class="col-2">
        <img src="/images/game/resources/platinum.png" height=16 width=16>&nbsp;<span id="platinum">{{platinum}}</span>
      </div>
    </div>
  </div>
  <div class="col-3 text-right">
    <input type="button" class="button viewSelect" id="view-city" value="City">
    <input type="button" class="button viewSelect" id="view-fields" value="Fields">
    <input type="button" class="button viewSelect" id="view-realm" value="Realm">
  </div>
</div>