<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
	<title>{{pageTitle}} &bull; Realms of Camelot</title>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
	<style>
	.age-{{age}} {
    background-image: url("/images/game/city-{{age}}.png");
    background-repeat: no-repeat;
    display: block;
}
	</style>
	<link rel="stylesheet" href="/css/game.css" type="text/css" media="all">
	<link rel="stylesheet" href="/css/chat.css" type="text/css" media="all">
	<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
	<script type="text/javascript" src="/js/vendor/socket-io-client.js"></script>

	<script type="text/javascript" src="/js/preload.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>
	
	<script>
	Socket.on("connect",() => {
	 console.log("Connected..", Socket.connected);
	});
	
var RoC = {
 host: '{{globalVar "host"}}',
 port: {{globalVar "port"}},
 init: (callback) => {
  RoC.Tpl.init();
  RoC.controllers.User.init();
  RoC.controllers.Player.init();
  RoC.controllers.City.init();
  
  callback();
 },
 models: {
  Player: {
	  id: {{Player.id}},
	  uid: {{Player.uid}},
	  name: "{{Player.name}}",
	  gender: "{{Player.gender}}",
	  avatar: "{{Player.avatar}}",
	  power: {{Player.power}},
	  realm: {{Player.realm}},
	  chat: {{Player.chat}},
	  food: {{Player.food}},
	  wood: {{Player.wood}},
	  stone: {{Player.stone}},
	  ore: {{Player.ore}},
	  gold: {{Player.gold}},
	  platinum: {{Player.platinum}},
	 },
	 User: {
	  id: {{User.id}},
	  email: "{{User.email}}",
	  token: "{{User.token}}",
	 },
	 City: {
	  id: {{City.id}},
	  name: "{{City.name}}",
	  owner: {{City.owner}},
	  age: {{City.age}},
	  x: {{City.x}},
	  y: {{City.y}},
	  realm: {{City.realm}},
	  buildings: [
	   {{#each Buildings}}
	   {
	    id: {{this.id}},
	    type: {{this.type}},
	    level: {{this.level}},
	    position: {{this.position}},
	    owner: {{this.owner}},
	    city: {{this.city}},
	    realm: {{this.realm}}
	   }{{#unless @last}},{{/unless}}
	   {{/each}}
	  ]
	 },
	 Field: {
	  buildings: [
	   {{#each Field}}
	   {
	    id: {{this.id}},
	    type: {{this.type}},
	    level: {{this.level}},
	    position: {{this.position}},
	    owner: {{this.owner}},
	    city: {{this.city}},
	    realm: {{this.realm}}
	   }{{#unless @last}},{{/unless}}
	   {{/each}}
	  ],
	 }
	},
};
</script>
<script type="text/javascript" src="/js/tpl.js"></script>
	<script type="text/javascript" src="/js/controllers.js"></script>
	<script type="text/javascript" src="/js/events.js"></script>
<script>
		document.addEventListener('DOMContentLoaded', () => {
		RoC.init(function(){
		 RoC.Tpl.buildField();
		 RoC.Tpl.buildRealm();
		 
		 gameStart(() => {
		  setVisible('#gameDiv', true);
		  setVisible('#loading', false);
		 });
	});
}, false);
	</script>
	</head>
	<body>
		<div id="loading"></div>
		{{{body}}}
		<footer class="mt-auto h-100">
			<p class="lead">Copyright &copy; 2020 - All Rights Reserved - <a href="#">Realms of Camelot</a></p>
			<p><a href="mailto:jason.allen.oneal@gmail.com">jason dot allen dot oneal at gmail dot com</a></p>
		</footer>
	</body>
</html>
