html, body{
	height: 100%;
}

body {
    margin: 0 auto;
    background-color: #67945f;
    align-items: stretch;
}

#loading {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100vw;
	height: 100vh;
	background-color: rgba(192, 192, 192, 0.5);
	background-image: url("https://i.stack.imgur.com/MnyxU.gif");
	background-repeat: no-repeat;
	background-position: center;
}

#overlay {
	visibility: hidden;
	position: absolute;
	top: 20px;
	bottom: 20px;
	width:88%;
	margin-left: 6%;
	text-align:center;
	background-color: #000;
	z-index: 1000;
	overflow-y: scroll;
	box-shadow: -1px 2px 15px -1px #000;
}
 
#overlay div {
	margin: auto;
	background-color: #fff;
	padding:15px;
}
 
#modal h3 {
	display: inline;
}
 
#modal p {
	text-align: left;
}
 
#modal p img {
	float: left;
	width: 60px;
	height: auto;
	padding-right: 15px;
	padding-bottom: 15px;
}
 
#state {
  color: rgb(200,200,200);
  font-family: Monaco;
  font-size: 18px;
  line-height: 1em;
  padding: 20px;
  text-align: center;
}

#progress {
  font-size: 50px;
  left: 50%;
  letter-spacing: 0.1em;
  margin: -25px 0 0 -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 200px;
}

#progressbar {
  left: 10%;
  position: absolute;
  text-align: center;
  top: 55%;
  right: 10%;
  
  .bar {
    @include box-shadow(cyan 0 0 10px 1px);
    @include transition(all 300ms);
    background-color: cyan;
    height: 1px;
    display: inline-block;
    width: 0%;
  }
  
  .bar.complete {
    @include box-shadow(rgba(255, 0, 0, 0) 0 0 10px 10px);
  }
}
.my-flex-container {
    border: 2px solid green;
    height: 100%;
    margin-bottom: 20px;
}

#gameDiv {
	background: #fff;
	border: 2px solid black;
}

#gameHead{
  font-size: 0.6em;
  border-bottom: 2px solid black;
  background-color:#ccc;
}

#city-view{
	background-color: #173b19;
	position: absolute;
	top: 0;
	left:0;
	height: 525px;
	width: 900px;
}

#city-map{
	background-image: url("/images/game/city-bg2.png" );
	background-position: 0px 0px;
	width: 900px;
	height: 480px;
	overflow: hidden;
	position: relative;
	margin-top: 0px;
}

#city-map a{
	display:block;
	position: absolute;
}

.city-plot {
	background-image: url('/images/game/city-plot.png');
	height: 46px;
	width: 91px;
}

.towncenter {
	background-image: url('/images/game/buildings/towncenter/1.png');
	height: 93px;
	width: 128px;
}

.house{
	background-image: url('/images/game/buildings/house/1.png');
	height: 59px;
	width: 58px;
	top: -15px;
	left: 10px;
}

.barracks{
	z-index: 1000;
	background-image: url('/images/game/buildings/barracks/1.png');
	height: 48px;
	width: 67px;
}

.range{

}

.stable{

}

.siege{

}

.tower{

}

.mill{

}

.lumber{
	background-image: url('/images/game/buildings/lumber/1.png');
	height: 59px;
	width: 58px;
}

.mine{

}

#plot1 {
	left: 108px;
	top: 209px;
}

#plot2{
	left: 216px;
	top: 218px;
}

#plot3{
	left: 150px;
	top: 256px;
}

#plot4{
	left: 240px;
	top: 270px;
}

#plot5{
	left: 314px;
	top: 232px;
}

#plot6{
	left: 298px;
	top: 300px;
}

#plot7{
	left: 370px;
	top: 260px;
}

#plot8{
	left: 339px;
	top: 338px;
}

#plot9{
	left: 428px;
	top: 292px;
}

#plot10{
	left: 396px;
	top: 370px;
}

#plot11{
	left: 448px;
	top: 338px;
}

#plot12{
	left: 512px;
	top: 310px;
}

#plot13{
	left: 308px;
	top: 178px;
}

#plot14{
	left: 300px;
	top: 106px;
}

#plot15{
	left: 362px;
	top: 78px;
}

#plot16{
	left: 418px;
	top: 46px;
}

#plot17{
	left: 352px;
	top: 142px;
}

#plot18{
	left: 418px;
	top: 112px;
}

#plot19{
	left: 474px;
	top: 82px;
}

#plot20{
	left: 464px;
	top: 158px;
}

#plot21{
	left: 524px;
	top: 128px;
}

#plot22{
	left: 540px;
	top: 180px;
}

#plot23{
	left: 594px;
	top: 150px;
}

#plot24{
	left: 542px;
	top: 238px;
}

#plot25{
	left: 604px;
	top: 208px;
}

#plot26{
	left: 668px;
	top: 178px;
}

#plot27{
	left: 622px;
	top: 256px;
}

#plot28{
	left: 680px;
	top: 232px;
}

#plot29{
	left: 736px;
	top: 204px;
}

#plot-castle{
	left: 210px;
	top: 150px;
}

#plot-towncenter{
	left: 384px;
	top: 170px;
}

#plot-wall{

}