html, body{
	height: 100%;
}

body {
    margin: 0 auto;
    background-color: #67945f;
    align-items: stretch;
}

#loading {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100vw;
	height: 100vh;
	background-color: rgba(192, 192, 192, 0.5);
	background-image: url("https://i.stack.imgur.com/MnyxU.gif");
	background-repeat: no-repeat;
	background-position: center;
}

#overlay {
	visibility: hidden;
	position: absolute;
	top: 20px;
	bottom: 20px;
	width:88%;
	margin-left: 6%;
	text-align:center;
	background-color: #000;
	z-index: 1000;
	overflow-y: scroll;
	box-shadow: -1px 2px 15px -1px #000;
}
 
#overlay div {
	margin: auto;
	background-color: #fff;
	padding:15px;
}
 
#modal h3 {
	display: inline;
}
 
#modal p {
	text-align: left;
}
 
#modal p img {
	float: left;
	width: 60px;
	height: auto;
	padding-right: 15px;
	padding-bottom: 15px;
}
 
#state {
  color: rgb(200,200,200);
  font-family: Monaco;
  font-size: 18px;
  line-height: 1em;
  padding: 20px;
  text-align: center;
}

#progress {
  font-size: 50px;
  left: 50%;
  letter-spacing: 0.1em;
  margin: -25px 0 0 -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 200px;
}

#progressbar {
  left: 10%;
  position: absolute;
  text-align: center;
  top: 55%;
  right: 10%;
  
  .bar {
    @include box-shadow(cyan 0 0 10px 1px);
    @include transition(all 300ms);
    background-color: cyan;
    height: 1px;
    display: inline-block;
    width: 0%;
  }
  
  .bar.complete {
    @include box-shadow(rgba(255, 0, 0, 0) 0 0 10px 10px);
  }
}

#gameHead{
  font-size: 0.6em;
  border-bottom: 2px solid black;
  background-color:#ccc;
}

#city-view{
	background-color: #173b19;
	position: absolute;
	top: 0;
	left:0;
	height: 499px;
	width: 808px;
}

#city-map{
	background-image: url("/images/game/city-bg.png" );
	background-position: 0px 0px;
	width: 808px;
	height: 499px;
	overflow: hidden;
	position: relative;
	margin-top: 0px;
}

#city-map a{
	display:block;
	position: absolute;
}

.city-plot {
	background-image: url('/images/game/build-slot.png');
	height: 55px;
	width: 97px;
}

#plot1 {
	left: 86px;
	top: 250px;
}

#plot2 {
	left: 204px;
	top: 188px;
}

#plot3 {
	left: 242px;
	top: 152px;
}

#plot4 {
	left: 138px;
	top: 287px;
}

#plot5 {
	left: 198px;
	top: 256px;
}

#plot6 {
	left: 254px;
	top: 224px;
}

#plot7 {
	left: 196px;
	top: 320px;
}

#plot8 {
	left: 252px;
	top: 287px;
}

#plot9 {
	left: 308px;
	top: 254px;
}

#plot10 {
	left: 256px;
	top: 352px;
}

#plot11 {
	left: 312px;
	top: 320px;
}

#plot12 {
	left: 362px;
	top: 286px;
}

#plot13 {
	left: 314px;
	top: 384px;
}

#plot14 {
	left: 364px;
	top: 352px;
}

#plot15 {
	left: 418px;
	top: 320px;
}

#plot16 {
	left: 378px;
	top: 108px;
}

#plot17 {
	left: 440px;
	top: 126px;
}

#plot18 {
	left: 382px;
	top: 222px;
}

#plot19 {
	left: 438px;
	top: 188px;
}

#plot20 {
	left: 488px;
	top: 160px;
}

#plot21 {
	left: 542px;
	top: 124px;
}

#plot22 {
	left: 440px;
	top: 250px;
}

#plot23 {
	left: 492px;
	top: 216px;
}

#plot24 {
	left: 542px;
	top: 184px;
}

#plot25 {
	left: 596px;
	top: 154px;
}

#plot26 {
	left: 494px;
	top: 282px;
}

#plot27 {
	left: 542px;
	top: 250px;
}

#plot28 {
	left: 596px;
	top: 218px;
}

#plot29 {
	left: 656px;
	top: 184px;
}

.arena {
    width: 97px;
    height: 97px;
    background-position: -5px -5px;
}

.barracks {
    width: 97px;
    height: 97px;
    background-position: -112px -5px;
}

.cathedral {
    width: 97px;
    height: 97px;
    background-position: -219px -5px;
}

.towncenter {
    width: 97px;
    height: 97px;
    background-position: -5px -112px;
}

.house {
    width: 97px;
    height: 97px;
    background-position: -112px -112px;
}

.lab {
    width: 97px;
    height: 97px;
    background-position: -219px -112px;
}

.market {
    width: 97px;
    height: 97px;
    background-position: -5px -219px;
}

.range {
    width: 97px;
    height: 97px;
    background-position: -112px -219px;
}

.smith {
    width: 97px;
    height: 97px;
    background-position: -219px -219px;
}

.stable {
    width: 97px;
    height: 97px;
    background-position: -326px -5px;
}

.storehouse {
    width: 97px;
    height: 97px;
    background-position: -326px -112px;
}

.tower {
    width: 97px;
    height: 97px;
    background-position: -326px -219px;
}

.trade {
    width: 97px;
    height: 97px;
    background-position: -5px -326px;
}

#fields-view{
	background-color: #173b19;
	position: absolute;
	top: 0;
	left:0;
	height: 499px;
	width: 808px;
}

#fields-map{
	background-image: url("/images/game/field-bg.png" );
	background-position: 0px 0px;
	width: 808px;
	height: 499px;
	overflow: hidden;
	position: relative;
	margin-top: 0px;
}

#fields-map a{
	display:block;
	position: absolute;
}

.field-plot {
	background-image: url('/images/game/build-slot.png');
	height: 55px;
	width: 97px;
}

#field-plot1 {
	left: 86px;
	top: 250px;
}

#realm-view{
	background-color: #173b19;
	position: absolute;
	top: 0;
	left:0;
	height: 499px;
	width: 808px;
}

#realm-map{
	background-image: url("/images/game/field-bg.png" );
	background-position: 0px 0px;
	width: 808px;
	height: 499px;
	overflow: hidden;
	position: relative;
	margin-top: 0px;
}

#realm-map a{
	display:block;
	position: absolute;
}

.realm-plot {
	background-image: url('/images/game/build-slot.png');
	height: 55px;
	width: 97px;
}